PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/bulk-mail-app?retryWrites=true&w=majority
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@example.com
SMTP_PASS=your-app-password
MAIL_FROM=Bulk Mail Admin <your-email@example.com>
SMTP_DEMO_MODE=false
